.blog-cards-container > p {
  font-family: "Geist Pixel", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.5em;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "ELSH" 84.7;
}

hr {
    color: $grey-color-light;
}

.post-company {
    margin-bottom: 0;
}

.page-heading {
  font-family: "Geist Pixel", sans-serif;
  font-optical-sizing: auto;
  font-size: 2.5em;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "ELSH" 84.7;
}

.pdf {
    width: 100%;
    display: flex;
    margin: auto;
    aspect-ratio: 0.77;
}

.blog-card-list {
    display: flexbox;
    margin-top: $spacing-unit;
    width: 100%;
}

.blog-card-meta {
    margin-left: 0.66* $spacing-unit;
    font-family: "Google Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 1.0em;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "ELSH" 84.7;
}

.post-link {
    max-width: 50rem;
}

.blog-card-wrapper {
    border-radius: 1em;
    overflow: hidden;
    transition: all 0.1s;
}

.blog-card-wrapper:hover {
    --card-rotation-deg: 20;
    transform: perspective(500px) rotateX(var(--card-x-rot)) rotateY(var(--card-y-rot));
    scale:1.05;
    filter: brightness(1.1);
    overflow: hidden;
}

.blog-card-wrapper:hover::after {
    content: "";
    position: absolute;
    top: calc(var(--card-y-pos) - 20em);
    left: calc(var(--card-x-pos) - 20em);
    width: 40em;
    height: 40em;
    background-image: radial-gradient(white, transparent 50%);
    opacity: 20%;
}

.blog-card{
    display: block;
    overflow: hidden;
    position: relative;
    text-decoration: none;
}

.splash-image {
    width: 100%;
}

.card-footer{
    background-color: $grey-color-light;
    height: 2*$spacing-unit;
    width: 100%;
    bottom: 0;
    position: absolute;
}

.title-post{
    position:relative;
    text-decoration: none;
    color: $text-color;
    margin-left: $spacing-unit;
    height: 100%;
    width: auto;
    display: inline-flex;
    align-content: center;
}

.align-tags-right {   
    display: inline-flex;
    float: right;
    position: relative;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: $spacing-unit;
}

.tag-container{
    display: inline-flex;
    align-items: center;
    height: 100%;
}

.card-tag{
    
    background-color: rgb(247, 247, 247);
    border-radius: .14em;
    height: 1.6em;

    font-family: "Geist Pixel", sans-serif;
    font-optical-sizing: auto;
    font-size: .66em;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "ELSH" 84.7;

    text-decoration: none;
    color: $text-color;
    background-color: $code-snippet-outline;
    
    border-left-width: 5px;
    border-left: 8px solid;

    padding-right: 0.3 * $spacing-unit;
    padding-left: 0.3 * $spacing-unit;
    min-width: $spacing-unit;
}

.card-tag-left-margins {
    margin-left: 0.5*$spacing-unit;
}

.card-tag-right-margins {
    margin-right: 0.5*$spacing-unit;
}

.card-tag.UE5{
    border-color: yellow;
}

.card-tag.UI {
    border-color: cyan;
}

.card-tag.Gameplay {
    border-color: magenta;
}

.card-tag.Leadership {
    border-color: greenyellow;
}

.card-tag.C\+\+ {
    border-color: orange;
}

.card-tag.Unity {
    border-color: green;
}

.card-tag.C\# {
    border-color: maroon;
}


.card-tag > p {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-content: center;
}

.card-tag.Godot {
    border-color: blue;
}

.blog-page-splash-container {
    margin: $spacing-unit 0;
    width: 100%;
    aspect-ratio: 3;
    overflow: hidden;
    border-radius: 1em;
}

.blog-page-splash {
    
    width: 100%;
}

.steam-embed {
    width: 100%;
    display: flex;
    justify-content: center;
}

.green {
    color: $grey-color-dark;
}

.image-container {
    display: block;
    width: 100%;
}

.embed-image {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.embed-image > image{
    width: 100%;
    cursor: zoom-in;
}

figcaption {
    font-family: "Google Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 0.85em;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "ELSH" 84.7;
    color: $fig-caption-color;
}